# Raspberry Pi Debug Probe
source [find interface/cmsis-dap.cfg]
transport select swd
# Raspberry Pi Pico 2 W (RP2350)
source [find target/rp2350.cfg]

# Set a reliable adapter speed (reduce to 1000 if you experience instability)
adapter speed 5000
